.app-container {
  background-color: #242424;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color .1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.time-input-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.time-input-container input {
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.countdown-display {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}